<li class="nav_item"><a href="#" class="nav_link">About</a></li>
<li class="nav_item"><a href="#" class="nav_link">People</a></li>
<li class="nav_item"><a href="#" class="nav_link">Projects</a></li>
<li class="nav_item"><a href="#" class="nav_link">Apps</a></li>
<li class="nav_item"><a href="#" class="nav_link">Extensions</a></li>
<li class="nav_item"><a href="#" class="nav_link">Libraries</a></li>
<li class="nav_item"><a href="#" class="nav_link">Support</a></li>
<li class="nav_item"><a href="#" class="nav_link">Join</a></li>