html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    flex: 1 0 auto;
}

nav {
    width: 100%;
    height: 44px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 9999;
    overflow: hidden;
    transition: background-color .44s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1), top .3s ease;
}

.nav_content {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    height: 100%;
    color: #F5F5F7;
    display: inline-block;
    opacity: 0.8;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
    transition: opacity 0.3s ease;
    user-select: none;
}

.nav_bar_content {
    position: relative;
    z-index: 9999;
}

.nav_list_wrap_m {
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    width: 100%;
    height: 100%;
}

.nav_list_m {
    width: 100%;
    max-width: 650px;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 45px 10px 45px;
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0s;
}

.nav_list_absolute_m {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9998;
}

.nav_list_absolute_links_m {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transform: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav_list_quick_links_m {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(0, -88px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav_links_m>.nav_item {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
}

.nav_links_m>.nav_item:first-child {
    border: none;
}

.nav_links_m>.nav_item>.nav_link {
    width: 100%;
    font-size: 17px;
}

nav.search .nav_list_absolute_links_m {
    transform: translate(0, 88px);
    opacity: 0;
}

nav.search .nav_list_quick_links_m {
    transform: none;
    opacity: 1;
}

.nav_link_logo {
    font-size: 18px;
}

.nav_link_search {
    width: 48px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity .3s ease;
}

.nav_link:hover {
    opacity: 1;
}

.nav_content_m {
    display: none;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.nav_bar_m {
    width: 100%;
    height: 48px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_link_hamburger {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.hamburger_line {
    width: 17px;
    height: 2px;
    border-radius: 1px;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
    transform-origin: center;
}

.hamburger_1 {
    transform: translate(0, -3px);
}

.hamburger_2 {
    transform: translate(0, 3px);
}

.nav_search_m {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 10px 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search_form_m {
    flex-grow: 1;
}

.nav_search_field_m {
    width: 100%;
    height: 0;
    border: none;
    border-radius: 8px;
    background-color: rgb(29, 29, 31);
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: white;
    padding: 0 30px;
    appearance: none;
    background-image: url(/assets/images/common/globalnav_search_image.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left 10px center;
    transition: width 0.5s ease, height 0.5s ease;
}

.nav_search_field_m::placeholder {
    font-family: "Inter", sans-serif;
    color: rgb(110, 110, 115)
}

.nav_search_cancel_m {
    width: 0;
    height: 0;
    border: none;
    background: none;
    outline: none;
    color: rgb(41, 151, 255);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, width 0.5s ease, height 0.5s ease;
}

.nav_search_cancel_m.search {
    width: 80px;
    opacity: 1;
}

.content {
    padding-top: 44px;
}

footer {
    flex-shrink: 0;
}

@media screen and (max-width: 770px) {

    /* Mobile */
    nav {
        height: 48px;
        padding: 0;
    }

    nav.open {
        height: calc(100% + 40px);
        background-color: black;
    }

    nav.search {
        top: -35px;
    }

    nav.open .nav_link_search {
        opacity: 0;
    }

    nav.open .hamburger_1 {
        transform: translate(0, 1px) rotate(45deg);
    }

    nav.open .hamburger_2 {
        transform: translate(0, -1px) rotate(-45deg);
    }

    nav.open .nav_list_m {
        opacity: 1;
        transition-delay: 0.1s;
    }

    nav.open .nav_search_field_m {
        height: 36px;
    }

    nav.open .nav_search_cancel_m {
        height: 36px;
    }

    .nav_content {
        display: none;
        visibility: hidden;
    }

    .nav_content_m {
        display: block;
        visibility: visible;
    }

    .nav_link_search {
        font-size: 28px;
    }

    .content {
        padding-top: 48px;
    }
}